{% import 'macros/form.html' as form %}

{%- for lang in h.fluent_form_languages(schema, field) -%}
  {{ form.input(
    field.field_name + '-' + lang,
    id='field-' + field.field_name + '-' + lang,
    label=lang.upper() + ' ' + h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=','.join(data.get(field.field_name, {}).get(lang, []))
        or data[field.field_name + '-' + lang],
    error=errors[field.field_name + '-' + lang],
    classes=['control-medium'],
    attrs=field.form_attrs if 'form_attrs' in field else {},
    is_required=h.scheming_field_required(field)
    ) }}
{%- endfor -%}
